.error-container {
    text-align: center;
    margin-top: 100px;
}

.error-container h1 {
    font-size: 50px;
    color: #D9534F;
}

.error-container p {
    font-size: 20px;
    color: #5bc0de;
}

.error-container a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #5bc0de;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.error-container a:hover {
    background-color: #31b0d5;
}
